form {
    display: block;
    width: 300px;
    margin: auto;
}

.title {
    display: block;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 300px;
    font-family: "Comic Sans MS";
    color: darkred;
    font-size: 50px;

}

button {
    width: 300px;
    margin: auto;
    display: block;
    background-color: #128070;
    border-radius: 30px;
    color: white;
    height: 40px;
    border: none;
    margin-top: 30px;
    font-family: "Comic Sans MS";
}

input {
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    border-radius: 30px;
    height: 40px;
    font-family: "Comic Sans MS";
}


body {
    background-image: url("https://media1.giphy.com/media/13FrpeVH09Zrb2/source.gif");
    height: 100vh;

}

